@font-face {
	font-family: 'Proxima';
    src: url('./assets/fonts/Proxima_500.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
    src: url('./assets/fonts/Proxima_600.ttf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
    src: url('./assets/fonts/Proxima_700.ttf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
    src: url('./assets/fonts/Proxima_900.ttf') format('opentype');
	font-weight: 900;
	font-style: normal;
}